/*! HTML5 Boilerplate v7.3.0 | MIT License | https://html5boilerplate.com/ */


/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */


/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */


/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}


/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}


/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}


/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}


/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}


/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html {
    box-sizing: border-box;
    font-size: 62.5%;
    /** reset para REMS - 62.5% = 10px de 16px**/
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-color: #f2f2f2;
    font-family: 'Open Sans', sans-serif;
}


/*Globales*/

.seccion {
    padding: 3rem 0;
}

.seccion p {
    font-size: 1.5rem;
    text-align: center;
}

h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 3rem;
    text-transform: uppercase;
    text-align: center;
}

h2::after {
    content: '';
    margin: 0 auto;
    background-image: url(../img/separador.png);
    height: 30px;
    width: 100px;
    display: block;
}

h3 {
    font-size: 2rem;
    color: #fe4918;
    font-family: 'PT Sans', sans-serif;
    margin: 0;
}

.boton {
    background-color: #fe4918;
    padding: 10px 40px;
    color: white;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    text-decoration: none;
    margin-top: 20px;
    display: inline-block;
    transition: all .5s ease-in-out;
    border: 2px solid #fe4918;
}

.boton:hover {
    background-color: #e33000;
}

.boton.hollow,
.boton.hollow:hover {
    background-color: white;
    color: #fe4918;
}

.boton.transparente {
    background-color: transparent;
    border-color: white;
}

.boton.transparente:hover {
    background-color: #fe4918;
}

.float-right {
    float: right;
}

.contenedor {
    width: 98%;
    margin: 0 auto;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

@media (min-width: 448px) {
    .contenedor {
        width: 95%;
    }
}

@media (min-width: 768px) {
    .contenedor {
        width: 90%;
    }
}


/*header*/

.hero {
    background-image: url(../img/encabezado.jpg);
    height: 100vh;
    background-position: top center;
    background-size: cover;
}

.redes-sociales {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}

.redes-sociales a {
    color: white;
    font-size: 2.5rem;
    margin-right: 2.5rem;
}

.redes-sociales a:last-of-type {
    margin-right: 0;
}

.informacion-evento {
    display: flex;
    justify-content: space-around;
    padding-top: 4rem;
}

@media (min-width: 768px) {
    .informacion-evento {
        width: 50%;
        margin: 0 auto;
    }
}

.informacion-evento p i {
    color: #fe4918;
    font-size: 2rem;
    margin-right: 1rem;
}

.informacion-evento .fecha {
    color: white;
    text-transform: uppercase;
    font-size: 1.5rem;
}

.informacion-evento .ciudad {
    color: white;
    text-transform: uppercase;
    font-size: 1.5rem;
}

.nombre-sitio {
    font-family: 'PT Sans', sans-serif;
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-size: 8vw;
    margin: 0;
    width: 100%;
}

@media (min-width: 768px) {
    .nombre-sitio {
        font-size: 10vw;
    }
}

.slogan {
    color: white;
    text-align: center;
    font-size: 2rem;
    margin: 0;
}

.slogan span {
    margin-left: 0.5rem;
    font-weight: bold;
}


/*Barra*/

.barra {
    background-color: #353535;
    padding: 20px 0;
}

.fixed {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}

.logo {
    width: 80%;
    float: left;
}

.logo img {
    width: 100%;
}

@media (min-width: 768px) {
    .logo {
        width: 33%;
    }
}


/*navegacion principal*/

.navegacion-principal {
    display: none;
    width: 100%;
}

.navegacion-principal a {
    font-family: 'Oswald', sans-serif;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 2rem;
    transition: all .5s ease;
    width: 100%;
    display: block;
    text-align: center;
    margin-bottom: 20px;
    clear: both;
}

.navegacion-principal a:last-of-type {
    border: 2px solid #fe4918;
    color: #fe4918;
}

.navegacion-principal a:last-of-type:hover {
    border: 2px solid #ffffff;
    color: white;
}

.navegacion-principal a:hover {
    background-color: #fe4918;
}

@media (min-width: 768px) {
    .navegacion-principal {
        width: 67%;
        float: right;
        display: block;
        text-align: right;
    }
    .navegacion-principal a {
        margin-right: 1rem;
        padding: 1rem 1rem;
        display: inline-block;
        width: auto;
    }
    .navegacion-principal a:last-of-type {
        margin-right: 0;
    }
}


/*menu movil*/

.menu-movil {
    width: 6rem;
    display: block;
    float: right;
    text-align: right;
    margin-top: 1.2rem;
    margin-bottom: 2rem;
}

@media (min-width: 768px) {
    .menu-movil {
        display: none;
    }
}

.menu-movil span {
    height: 8px;
    margin-bottom: 6px;
    background-color: white;
    display: block;
}

.menu-movil:hover {
    cursor: pointer;
}


/*Talleres*/

.programa {
    position: relative;
}

.contenedor-video {
    max-width: 100%;
    overflow-x: hidden;
}

.contenido-programa {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.programa-evento {
    background-color: rgba(255, 255, 255, .8);
    padding: 15px;
    margin-top: 80px;
}

@media (min-width: 768px) {
    .programa-evento {
        width: 70%;
    }
}

@media (min-width: 992px) {
    .programa-evento {
        width: 50%;
    }
}

.menu-programa {
    width: 100%;
}

@media (min-width: 768px) {
    .menu-programa {
        display: table;
    }
}

.menu-programa a {
    display: block;
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    margin-bottom: 10px;
    color: black;
    text-align: center;
    font-size: 2rem;
    position: relative;
    padding-bottom: 10px;
    border-bottom: 1px solid #fe4918;
}

.menu-programa a.activo::after {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    height: 20px;
    width: 30px;
    background-image: url(../img/talleres-flecha.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    bottom: -20px;
}

.menu-programa i,
.detalle-evento p i {
    color: #fe4918;
    font-size: 1.8rem;
    margin-right: 0.5rem;
}

@media (min-width: 768px) {
    .menu-programa a {
        display: table-cell;
    }
}

.ocultar {
    display: none;
}


/*Detalle evento*/

.detalle-evento {
    margin-bottom: 20px;
    border-bottom: 1px solid black;
    padding: 0 20px;
}

.detalle-evento:first-of-type {
    margin-top: 20px;
}

.detalle-evento:last-of-type {
    border-bottom: none;
}

.detalle-evento p {
    margin-bottom: 20px;
    font-size: 20px;
}


/*Invitado*/

.lista-invitados li {
    padding: 10px;
    float: left;
}

@media (min-width: 448px) {
    .lista-invitados li {
        width: 50%;
    }
}

@media (min-width: 768px) {
    .lista-invitados li {
        width: 33.3%;
    }
}

.invitado {
    position: relative;
    overflow: hidden;
}

.invitado img {
    max-width: 100%;
    -webkit-filter: grayscale(1);
    -webkit-transition: all .5s ease-in-out;
}

.invitado img:hover {
    -webkit-filter: grayscale(0);
    -webkit-transform: scale(1.1);
}

.invitado p {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 15px 10px;
    margin: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, .5);
    text-align: left;
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
    color: #fe4918;
    text-transform: uppercase;
    -webkit-transition: all .5s ease-in-out;
}

.invitado:hover p {
    bottom: -80px;
    opacity: 0;
}


/*Contador*/

.parallax::before {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    -webkit-filter: brightness(.8);
    filter: brightness(.8);
}

.contador {
    position: relative;
    height: auto;
}

.contador::before {
    background-image: url(../img/bg-resumen.jpg);
    content: '';
}

.resumen-evento {
    position: relative;
    padding: 120px 0;
}

.resumen-evento li {
    width: 50%;
    float: left;
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
}

@media (min-width: 768px) {
    .resumen-evento li {
        width: 25%;
    }
}

.numero {
    color: #fe4918;
    font-size: 6rem!important;
    display: block;
    margin: 0;
    padding: 0 0 20px 0;
    font-family: 'Oswald', sans-serif;
}


/**tabla de precios**/

.lista-precios>li {
    padding: 10px;
}

@media (min-width: 768px) {
    .lista-precios>li {
        float: left;
        width: 33.3%;
    }
}

.tabla-precio {
    border: 1px solid #e1e1e1;
    background-color: #ffffff;
    padding: 40px 0;
    text-align: center;
    transition: all .5s ease;
}

.tabla-precio ul li {
    font-family: 'PT Sans', sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 20px;
    color: #868686;
    line-height: 26px;
}

.tabla-precio h3 {
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
}

.tabla-precio:hover {
    transform: scale(1.1);
    border: 1px solid #e33000;
    box-shadow: 0px 0px 50px #666;
}

.tabla-precio p.numero {
    color: black;
    margin: 20px 0;
}


/*.tabla-precio ul li::before {
    font-family: 'Font Awesome 5 Brands';
    display: inline-block;
    vertical-align: top;
    padding: 0 5px;
    font-size: 20px;
    color: green;
    -webkit-font-smoothing: antialiased;
    content: '\f560';
}*/

.check i {
    color: green;
    font-size: 20px;
    margin-right: 8px;
}


/** MAPA **/

.mapa {
    height: 420px;
}


/** Testimoniales **/

.testimoniales {
    padding-bottom: 20px;
}

.testimonial {
    padding: 5px;
}

@media (min-width: 768px) {
    .testimonial {
        float: left;
        width: 33.3%;
    }
}

blockquote {
    background-color: white;
    border: 1px solid #e1e1e1;
    position: relative;
    margin: 0 0 10px 0;
    padding-bottom: 20px;
}

blockquote p {
    text-align: justify!important;
    font-size: 1rem!important;
    font-family: 'PT Sans', sans-serif;
    padding: 0 20px 0 65px;
}

blockquote p::before {
    content: '\201c';
    position: absolute;
    left: 30px;
    font-size: 8rem;
    margin: 0;
    padding: 0;
    line-height: 1;
    color: #fe4918;
    top: 5px;
}

.info-testimonial {
    padding: 0em;
}

.info-testimonial img {
    float: left;
    width: 20%;
    border-radius: 50%;
    margin-left: 20px;
}

.info-testimonial cite {
    text-align: left;
    color: #fe4918;
    text-transform: uppercase;
    font-size: 12px;
    padding-top: 20px;
    width: 66.6%;
    float: right;
    font-weight: bold;
    font-style: normal;
}

.info-testimonial cite span {
    display: block;
    text-transform: none;
    color: black;
}


/**Newsletter**/

.newsletter {
    position: relative;
    height: auto;
}

.newsletter::before {
    background-image: url(../img/bg-newsletter.jpg);
    content: '';
}

.newsletter .contenido {
    padding: 100px 0;
    color: white;
    text-align: center;
    position: relative;
}

.newsletter .contenido p {
    font-size: 2em;
    text-transform: lowercase;
}

.newsletter .contenido h3 {
    color: white;
    font-size: 7vw;
    text-transform: uppercase;
    font-family: 'PT Sans', sans-serif;
}


/**cuenta regresiva**/

.cuenta-regresiva ul li {
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
    text-align: center;
    float: left;
    width: 25%;
}

@media (min-width: 768px) {
    .cuenta-regresiva ul li {
        float: left;
        width: 25%;
    }
}


/**footer**/

.site-footer {
    background-color: #353535;
    padding-top: 40px;
    margin-top: 20px;
}

.site-footer .contenedor div {
    color: white;
    padding: 0 20px;
    font-size: 12px;
}

@media (min-width: 768px) {
    .site-footer .contenedor div {
        width: 33.3%;
        float: left;
    }
}

.site-footer h3 {
    color: white;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 20px;
}

.site-footer .ultimos-tweets li {
    margin-bottom: 10px;
}

.redes-footer {
    justify-content: left;
}

.site-footer h3 span {
    color: #fe4918;
}

.copyright {
    background-color: #2e2e2e;
    margin: 20px 0 0 0;
    padding: 10px;
    color: white;
    text-align: center;
    font-size: 1.2rem;
}


/*INTERNAS*/


/*Conferencia*/

.navegacion-principal .activo {
    border-bottom: 2px solid #fe4918;
}


/*Registro*/

.registro h3 {
    text-align: center;
    text-transform: uppercase;
    margin: 20px 0 0 0;
}

.registro label {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 1.3rem;
}

h4 {
    text-align: center;
    text-transform: uppercase;
    border-bottom: 2px solid #fe4918;
    padding-bottom: 10px;
    font-size: 1.2em;
}

.caja {
    background-color: white;
    border: 1px solid #e1e1e1;
    padding: 10px;
    margin: 10px;
}

.campo {
    padding: 20px;
}

@media (min-width: 768px) {
    .campo {
        float: left;
        width: 33.3%;
    }
}

.paquetes .tabla-precio:hover {
    transform: none;
    box-shadow: none;
}

.paquetes .tabla-precio input {
    clear: both;
    width: 50px;
    margin: 10px auto 0 auto;
    display: block;
}

.contenido-dia {
    padding: 20px;
    display: none;
}

@media (min-width: 768px) {
    .contenido-dia div {
        float: left;
        width: 33.3%;
    }
}

.contenido-dia div p {
    text-align: left;
}

.contenido-dia div label {
    display: block;
    margin-bottom: 10px;
}

.contenido-dia div input {
    margin-right: 10px;
}

.contenido-dia div label time {
    color: #fe4918;
    font-weight: bold;
}


/*Resumen registro*/

.resumen p {
    font-size: 1.2em;
    text-transform: uppercase;
}

.resumen .extras {
    float: left;
    width: 50%;
    padding: 30px;
}

.extras .orden {
    text-align: left;
    margin-bottom: 10px;
}

.extras .orden input {
    margin: 10px 0 0 0;
}

.resumen .total {
    float: right;
    width: 50%;
    padding: 30px;
}

.resumen input {
    display: block;
    margin: 10px auto;
}

.resumen input:hover {
    cursor: pointer;
}

#lista-productos {
    background-color: #e1e1e1;
    padding: 20px;
    display: none;
    font-size: 1.2rem;
}

#suma-total {
    text-align: center;
    font-size: 2rem;
    color: #fe4918;
}

#error {
    clear: both;
}


/*calendario*/

.calendario::after {
    clear: both;
    display: block;
    content: '';
}

.dia {
    width: 50%;
    float: left;
    border: 2px solid #e1e1e1;
}

@media (min-width: 768px) {
    .dia {
        width: 33.3%;
        min-height: 240px;
        padding-top: 20px;
    }
}

.dia:hover {
    background-color: #e1e1e1;
}

.dia .titulo {
    color: #fe4918;
    text-transform: uppercase;
    font-weight: bold;
}

.dia i {
    color: #fe4918;
    font-size: 1.2em;
}

.calendario h3 {
    padding-bottom: 20px;
    text-align: center;
    padding-top: 20px;
    clear: both;
    background-color: #fe4918;
    color: white;
}


/*colorbox*/

div.cboxElement {
    padding: 30px!important;
    text-align: center;
}

div.cboxElement p {
    font-size: 1.5em;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */


/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}


/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    /* 1 */
}


/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    white-space: inherit;
    width: auto;
}


/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
    visibility: hidden;
}


/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.clearfix:after {
    clear: both;
}


/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}


/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster */
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }
    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}